<!-- app.component.html -->

<div class="container mt-4">
    <h1>Stock Dashboard</h1>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Stock Symbol</th>
            <th scope="col">Company Name</th>
            <th scope="col">Current Price</th>
            <th scope="col">Timestamp</th>
          
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let stock of stocks">
            <th scope="row">{{ stock.id }}</th>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.company }}</td>
            <td>{{ stock.price | currency }}</td>
            <td>{{ stock.timestamp  }}</td>

            <td>
              <button class="btn btn-primary" (click)="navigateToStockHistory(stock.symbol)">History</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  