<div *ngIf="showNavbar">
  <div class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Stock App</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto"> 
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/orders">Orders</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  
  <div class="container mt-4">
    <div *ngIf="isHomePage">

    <div class="container mt-5">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to Stocks App</h1>
        <p class="lead">Explore the world of stocks and financial data.</p>
        <hr class="my-4">
        <p>This is a simple web application for managing your stocks</p>
        <p class="lead">
          Already have an account? 
          <a class="btn btn-primary btn-sm" routerLink="/login" role="button">Login</a>
        </p>
        <p class="lead">
          New user? 
          <a class="btn btn-success btn-sm" routerLink="/signup" role="button">Register</a>
        </p>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
</div>
